.coinList {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-left: 0.8em;
  border-radius: 10px;
  /* border: 2px solid white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .coinList::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: -10px;
  left: 102%;
  background-color: white;
} */
.coinList th {
  text-align: left;
}
.coinList tr {
  margin: 1em 0;
}
.coinList table {
  font-weight: 500;
}
.coinList th,
.row td {
  font-weight: 5500;
  font-size: 1.5em;
  padding: 1em 0;
}
.tableHeader {
  display: flex;
  justify-content: space-between;
}

/* .tableHeader div {
  font-weight: 700;
  font-size: 1.3em;
} */

.icon {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.row div:nth-child(2) {
  margin-right: 7em;
}
.row div:nth-child(3) {
  margin-right: 4em;
}
.profit {
  color: rgba(0, 255, 0, 0.3);
}
.loss {
  color: rgba(255, 0, 0, 0.5);
}
.crypto_icon {
  width: auto;
  height: auto;
}

.list {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .coinList th,
  .row td {
    font-size: 1em;
  }
  .coinList {
    padding: 0.2em 0.2em;
  }
}
@media (width < 500px) {
  .coinList th {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .coinList th,
  .row td {
    font-size: 0.7em;
  }
  .icon {
    gap: 0;
  }
}
