.button {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
}
.logo {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.button:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}
.form p {
  padding: 0;
  margin: 0;
}
.inputFields {
  display: flex;
  gap: 1em;
}
.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 90px;
  height: 70px;
  border-radius: 10px;
}
.connectbutton {
  padding: 0.5rem 1rem;
}
.connectbutton {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.connectbutton:active,
.connectbutton:hover {
  outline: 0;
}

.connectbutton span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.connectbutton:hover span {
  background: none;
}

.connectbutton:active {
  transform: scale(0.9);
}
.connectbutton.connectedbutton span {
  background: none;
  cursor: not-allowed;
}
